body{
	font-family: 'Mountains of Christmas', cursive;
}
a{
	color: black;
	text-decoration: none;
}
header{
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 15px;
}
header h1 a {
	color: #444b57;
}
.post-entry{
	text-align: center;
	border: 2px solid black;
}
.nav-right{
	text-align: right;
}
.cat-this{
	background: #eaeaea;
}
.cat-this a:hover{
	color: black;
}

.post-this{
	background: #b88c9e;
}
.post-this a:hover{
	color: black;
}