header{
	border-bottom: 2px solid #eaeaea;
	margin-bottom: 15px;
}
header h1 a {
	color: red;
}
.post-entry{
	text-align: center;
	border: 2px solid black;
}
.nav-right{
	text-align: right;
}
.cat-this{
	background: yellow;
}

.post-this{
	background: red;
}